h1 {
  text-align: center;
}
div {
    border: 3px solid black;
    margin: 100px auto;
}

#large {
    background-color: red;
    width: 500px;
    height: 500px;
}

#medium {
    background-color: blue;
    width: 300px;
    height: 300px;
}

#small {
    background-color: red;
    width: 100px;
    height: 100px;
}



/* TABLE BONUS */

td { 
    width: 100px;
    height: 100px;
}
table {
    margin: auto;
}
.top {
    border-top: 3px solid black;
}
.right {
    border-right: 3px solid black;
}
.bottom {
    border-bottom: 3px solid black;
}
.left {
    border-left: 3px solid black;
}

.large {
background-color: red;
}

.medium {
background-color: blue;
}

.small {
background-color: red;
}





